{% extends 'store/main.html' %}
{% load static %}
{% block content %}

<div class="row">
    <div class="col-sm-6 col-md-6 col-lg-4 ftco-animate">
        <div class="product">
            <a href="#" class="img-prod"><img class="img-fluid" src="{{product.imageURL}}" >
                <span class="status">{{product.category}}</span>
                <div class="overlay"></div>
            </a>
            <div class="text py-3 px-3">
                <h3><a href="#">{{product.name}}</a></h3>
                <div class="d-flex">
                    <div class="pricing">
                        <p class="price"><span class="mr-2 price-dc"></span><span class="price-sale">{{product.price}}$</span></p>
                    </div>
                    <div class="rating">
                        <p class="text-right">
                            <a href="#"><span class="ion-ios-star-outline"></span></a>
                            <a href="#"><span class="ion-ios-star-outline"></span></a>
                            <a href="#"><span class="ion-ios-star-outline"></span></a>
                            <a href="#"><span class="ion-ios-star-outline"></span></a>
                            <a href="#"><span class="ion-ios-star-outline"></span></a>
                        </p>
                    </div>
                </div>
                <p class="bottom-area d-flex px-3">
                    <a href="" data-product="{{product.id}}" data-action="add" class="add-to-cart text-center py-2 mr-1 add-btn update-cart"><span>Add to cart <i class="ion-ios-add ml-1"></i></span></a>
                    <a href="{% url 'cart' %}" data-product="{{product.id}}" data-action="add" class="buy-now text-center py-2  update-cart">Buy now<span><i class="ion-ios-cart ml-1"></i></span></a>
                </p>
            </div>
        </div>
    </div>
</div>


{% endblock content %}
