{% extends 'store/main.html' %}
{% load static %} 
{% load i18n %}
{% load account socialaccount %}
{% block content %}
<div class="text-center">
  <main class="form-signin w-100 m-auto">
    <img src="{% static 'images/logo.png' %} " class="mb-4 ml-5" width="100" height="72">
  <form class="form-group"  method="POST" action="{% url 'account_login' %}">
          {% csrf_token %}
          {{ form.as_p }}
          {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
          {% endif %}
          <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
          <button class="btn btn-primary" type="submit">{% trans "Sign In" %}</button>
        </form>
</main>
</div>


{% endblock %}
